{% extends "main.html" %}
{% block content %}

    <div class="presentation">
        <div class="name_bar">
            <img class="icon" src="https://raw.githubusercontent.com/upscayl/upscayl/main/main/build/icon.png"/>
            <h1>{{ name }}</h1>
        </div>

        <hr style="width:50%;margin-top:0px;margin-bottom:30px">

        <blockquote>
            <p>{{ description }}</p>
        </blockquote>

        <div class="screenshot">
            <div class="screenshot_back"></div>
                <input class="screenshot_radio" name="radiogal" type="radio" id="radiogal2">
                <div class="screenshot_item">
                    <img class="screenshot_img screenshot_img_item" src="https://user-images.githubusercontent.com/25067102/187059440-83f32705-4509-4899-a109-ed2d8248fd2b.png"/>
                </div>
                <label class="screenshot_view" for="radiogal2">
                    <img class="screenshot_img" src="https://user-images.githubusercontent.com/25067102/187059440-83f32705-4509-4899-a109-ed2d8248fd2b.png"/>
                </label>
                <input class="screenshot_radio" name="radiogal" type="radio" id="radiogal3">
                <div class="screenshot_item">
                    <img class="screenshot_img screenshot_img_item" src="https://user-images.githubusercontent.com/25067102/187059369-9bc63f1c-e6c0-4d6a-9089-706db43f171f.png"/>
                </div>
                <label class="screenshot_view" for="radiogal3">
                    <img class="screenshot_img" src="https://user-images.githubusercontent.com/25067102/187059369-9bc63f1c-e6c0-4d6a-9089-706db43f171f.png"/>
                </label>
                <input class="screenshot_radio" name="radiogal" type="radio" id="radiogal4">
                <div class="screenshot_item">
                    <img class="screenshot_img screenshot_img_item" src="https://user-images.githubusercontent.com/25067102/187059318-2d01a671-53fe-4ecc-9a74-3a791fd55818.png"/>
                </div>
                <label class="screenshot_view" for="radiogal4">
                    <img class="screenshot_img" src="https://user-images.githubusercontent.com/25067102/187059318-2d01a671-53fe-4ecc-9a74-3a791fd55818.png"/>
                </label>
                <input class="screenshot_radio" name="radiogal" type="radio" id="radiogal5">
                <div class="screenshot_item">
                    <img class="screenshot_img screenshot_img_item" src="https://user-images.githubusercontent.com/25067102/187059336-8d6e87ec-232f-4591-89c9-ff451692bcf2.png"/>
                </div>
                <label class="screenshot_view" for="radiogal5">
                    <img class="screenshot_img" src="https://user-images.githubusercontent.com/25067102/187059336-8d6e87ec-232f-4591-89c9-ff451692bcf2.png"/>
                </label>
                <input class="screenshot_radio" name="radiogal" type="radio" id="radiogal6">
                <div class="screenshot_item">
                    <img class="screenshot_img screenshot_img_item" src="https://user-images.githubusercontent.com/25067102/187153200-8e184622-a791-43ad-8d73-e5580034f2f2.png"/>
                </div>
                <label class="screenshot_view" for="radiogal6">
                    <img class="screenshot_img" src="https://user-images.githubusercontent.com/25067102/187153200-8e184622-a791-43ad-8d73-e5580034f2f2.png"/>
                </label>
        </div>

        <p class="categories">{{ categories }}</p><br>

        <table width="100%">
            <thead>
                <tr>
                    <th scope="col">Remplacez</th>
                    <th scope="col">Accessibilité</th>
                    <th scope="col">Disponible sur</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <!-- Outil qui remplace -->
                    <td>
                        <ul>
                            <li><i>rien</i></li>
                        </ul>
                    </td>

                    <!-- Facilité d'utilisation -->
                    <td>
                        <p class="progress-label">Débutant</p>
                        <div class="progress progress-100plus thin">
                            <div class="progress-bar" style="width:100.00%"></div>
                        </div>
                    </td>

                    <!-- Plateforme disponible -->
                    <td>
                        <p class="progress-label">Linux</p>
                        <div class="progress progress-80plus thin">
                            <div class="progress-bar" style="width:90.00%"></div>
                        </div>

                        <p class="progress-label">Windows</p>
                        <div class="progress progress-60plus thin">
                            <div class="progress-bar" style="width:70.00%"></div>
                        </div>
                        <p class="progress-label">MacOS</p>
                        <div class="progress progress-80plus thin">
                            <div class="progress-bar" style="width:80.00%"></div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <hr>

        <h2>Instruction d'installation</h2>
        <div class="infos_container">
        <!-- Début des instructions d'installation écrite en markdown -->
{{ md_install_instruct|markdown }}
        <!-- Fin des instructions d'installation écrite en markdown -->
        </div>

        <hr>

        <h2>Liens</h2>
        <div class="infos_container">
            {% for key, value in links.items() %}
                <p>{{ key }} : <a href="{{ value }}">{{ value }}</a></p>
            {% endfor %}
            <!--p>Source : <a href="https://github.com/upscayl/upscayl">https://github.com/upscayl/upscayl</a></p-->
        </div>

    </div>

{% endblock %}
