{% extends "main.html" %}
{% block content %}

    <div class="group">

        <div class="post">
            <a href="/app/upscayl" class="post_title">Upscayl</a>
            <div class="box_in_line">
                    <img class="post_illustration" src="https://raw.githubusercontent.com/upscayl/upscayl/main/main/build/icon.png" decoding="async"/>
                <div>
                    <p class="post_description">Logiciel d'augmentation de la qualité d'une image.</p>
                    <p class="post_metadata">Très facile à installer et utiliser.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
