<!doctype html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
<title>Alternative2</title>
</head>

<header>
    <!--a href="/"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Website logo"></a-->
    <div class="header_content">
        <a class="title" href="/">Alternative2</a>
        <p class="sentence">Cherchez et vous trouverez...</p>
    </div>
</header>

<body>
    <main class="main-container">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
