<form action="{{ request.url }}" method="get">
    <div class="search_bar box_in_line">
        <input class="search_box search_input" type="text" id="search" name="search" placeholder="{{ input_sentence }}" value="{{ search_value }}">
        <input type="submit" hidden />

        <spacer type="horizontal" size="10"></spacer>
        <label class="search_label">{{ sort_option['sentence'] }}</label>
        <select class="search_box search_sort" id="sort_order" name="sort_order">
            {% if sort_value == "relevance" %}
            <option value="relevance" selected="selected">{{ sort_option['relevance'] }}</option>
            <option value="date">{{ sort_option['date'] }}</option>
            <option value="alphanum">{{ sort_option['alphanum'] }}</option>
            {% endif %}
            {% if sort_value == "date" %}
            <option value="relevance">{{ sort_option['relevance'] }}</option>
            <option value="date" selected="selected">{{ sort_option['date'] }}</option>
            <option value="alphanum">{{ sort_option['alphanum'] }}</option>
            {% endif %}
            {% if sort_value == "alphanum" %}
            <option value="relevance">{{ sort_option['relevance'] }}</option>
            <option value="date">{{ sort_option['date'] }}</option>
            <option value="alphanum" selected="selected">{{ sort_option['alphanum'] }}</option>
            {% endif %}
        </select>
    </div>
</form>
