:root {
  --main-font: FreeSans;
  --main-light-font: rgb(255,255,255);
  --animation-speed: 0.7s;
}

/* BOX */
html {
  background: rgb(238,238,238);
  align-items: center;
}
.main-container {
  margin: auto;
  margin-top: 80px;
  width: 80vw;
}
.box_in_line {
  display: flex;
}


/* HEADER BAR */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: linear-gradient(to right, #1C73D0, #064AAF);
  border-radius: 0px 0px 10px 10px;
  z-index: -1; /*pour rester en dessous des éléments*/

  /*justify-content: space-between;*/
  display: inline-flex;
}
header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1; /*pour rester en dessous des éléments*/
  border-radius: 0px 0px 0px 0px;
  background: linear-gradient(to left, #1C73D0, #064AAF);
  transition: opacity var(--animation-speed);
  opacity: 0;
}
header:hover::before {
  opacity: 1;
}
.header_content {
  display: flex;
  align-items: center;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.title {
  margin-left:10px;
  font-family: cursive;
  text-shadow: rgb(135,135,135) 2px 2px 2px;
  color: rgb(255,255,255);
  font-weight: 600.0;
  font-size: clamp(70%, 4vw, 170%);
}
.sentence {
  font-family: cursive;
  margin-left: 10px;
  text-align: center;
}


/* FOR SOLUTION PRESENTATION */
.presentation {
  font-family: var(--main-font);
  background-color: rgb(255,255,255);

  border: solid;
  border-color: rgb(204,204,204);
  border-width: 1px;
  border-radius: 15px;

  padding: 10px;
  margin-bottom: 10px;
}
.name_bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icon {
  width: 10vh;
  height: 10vh;
  margin-right: 20px;
}
/*Image slider have particular section bellow*/
.categories {
  position: relative;
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.infos_container {
  position: relative;
  margin-left: 50px;
}



/* POSTS LIST : for list of solutions */
.post {
  background-color: rgb(204,204,204);
  border: 1px solid rgb(0,0,0);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: var(--animation-speed);
}
.post:hover {
  background-color: rgb(255,255,255);
}
.post_title {
  position: relative;
  margin-left: 1em;
  color: rgb(0,0,0);
  font-weight: 600.0;
  font-size: 22px;
  font-family: var(--main-font);
  text-decoration: none;
}
.post_title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: rgb(0,0,0);
  bottom: 0;
  transform: scaleX(0);
  transition: transform var(--animation-speed) ease;
}
.post_title:hover::before {
  transform: scaleX(1);
}
.post_illustration {
  margin: 10px 20px 0px 5px;
  width: 96px;
  height: 96px;
}
.post_description {
  font-family: var(--main-font);
}
.post_metadata {
  text-align: bottom;
  float: right;

  font-family: var(--main-font);
  font-style: italic;
  font-size: 0.8em;
}


/* SLIDER FOR CAPTURE */
.screenshot {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 20px auto;
  background-color: #EEEEEE;
  border-radius: 15px;
}
.screenshot_back, .screenshot_item {
  width: 100%;
  height: 400px;
  max-height: 80vh;
}
.screenshot_radio {
  display: none;
}
.screenshot_img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.screenshot_item {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  margin-top: 10px
}
.screenshot_view {
  cursor: pointer;
  width: 1px;
  height: 100px;
  max-height: 20vh;
  flex-grow: 1;
}
.screenshot_img_item {
  object-fit: contain;
}
.screenshot_radio:checked+.screenshot_item {
  z-index: 1;
  opacity: 1;
}
.screenshot_radio:checked+.screenshot_item+.screenshot_view {
  transform: scale(.93);
}

/*PROGRESS BAR*/
.progress-label {
  position: relative;
  text-align: left;
  margin-left: 10px;
}
.progress-bar {
  position: relative;
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
}
.progress {
  display: block;
  width: 90%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
  margin-left: 1em;
}
.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}
.progress.thin .progress-label {
  margin-top: -0.4rem;
}
.progress.thin .progress-bar {
  height: 0.4rem;
}
.progress-100plus .progress-bar {
  background-color: #097800;
}
.progress-80plus .progress-bar {
  background-color: #6BBC00;
}
.progress-60plus .progress-bar {
  background-color: #D2C500;
}
.progress-40plus .progress-bar {
  background-color: #E29300;
}
.progress-20plus .progress-bar {
  background-color: #D55200;
}
.progress-0plus .progress-bar {
  background-color: #D30000;
}

