:root {
  --markdown-title-font: Liberation-sans;
}

h1 {
  border-bottom: solid;
  border-color: #555555;
  border-width: 0px;
  padding: 0px 10px 10px 10px;

  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-shadow: rgba(163, 163, 163, 0.75) 1px 1px 5px;
  font-size: 7vh;
  font-weight: bold;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}
h3 {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: normal;
}

hr {
  border: 1px solid #EEEEEE;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75%
}

img {
  display: block;
  margin-left: 5%;

  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

ol {
  margin: 5px;
}
li {
  margin: 5px;
}

table {
  border-collapse: collapse;
  border: solid 1px #000000;
  background-color: #FFFFFF;
}
table td, table th {
  border: solid 1px #FFFFFF;
  text-align: left;
  padding-left: 10px;
  vertical-align: top;
  background-color: #FFFFFF;
}
td:not(:last-child),th:not(:last-child) {
  border-right: 1px solid #EEEEEE;
}

pre {
  margin: 10px 10px 30px 10px;
  padding: 10px;

  border-radius: 10px;
  background-color: #EEEEEE;

  text-indent: 0px;
}

blockquote {
  padding: 1px 1em;
  border-left: 2px #AAAAAA solid;
  background-color: #FFFFFF;
  font-style: italic;
}

code {
  background-color: #EFEFEF;
  border-radius: 15px;
}
